body{
	font-size: 12px;
	font-family: Arial;
	color:#727272;
	line-height: 2em;	
}
a{
	color: #727272;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.menu{
	font-size: 14px;
	font-weight: bolder;
	color: #b9f605;
}
.menu a{
	color:white;
}
.menu a:hover{
	color:#b9f605;
	text-decoration: none;
}
.menu .special{
	color:#fdb306;
}

