*{
	padding: 0px;
	margin: 0px;
}
#titlediv{
	background-image: url(../image/left_nav_title.gif);
	width: 183px;
	height: 35px;
	color: white;
	text-align: center;
	padding-top: 12px;
}
ul{
	list-style-type:none;
	list-style-image: url(../image/left_cur.gif); 
	background-image: url(../image/left_nav_txt.gif);
	width: 183px;
}
ul li{
	width: 183px;
	margin-left: 40px;
	height: 30px;
	padding-top: 5px;
	background-image: url(../image/left_nav_item.gif);
	background-repeat: no-repeat;
	background-position: -3em 90%;
}
#footerdiv{
	background-image:url(../image/left_nav_bottom.gif);
	width: 183px;
	height: 35px;
}
