*{
	padding:0px;
	margin:0px;
	text-align:left;
	}
li{list-style:none;}
/*菜单样式*/
.menu{
	margin:auto;
	width:1005px;
	background:url(../image/bg.gif) top no-repeat;
	}
.menu{
	height:75px;
	text-align:center;
	color:#b9f605;
	font-size:14px;
	font-weight:bold;
	}
.menu ul{
	width:1005px;
	margin:auto;
	height:75px;
	line-height:75px;
	vertical-align:middle;	
	}
.menu li{
	float:left;
	padding:0px 15px;	
	}
.menu a{
	color:#fff;	
	text-decoration:none;
	}
.menu a:hover{
	color:#b9f605;
	}
.menu .specil {
	color:#fdb306;
	}